/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
html {
	@apply scroll-smooth;

	* {
		scroll-margin-top: 200px;
	}
}

body {
	@apply text-foreground;
}

ul {
	li::marker {
		@apply !text-secondary
	}
}
 /*SCROLL bar styles*/
   ::-webkit-scrollbar {
	   width: 8px;
	   height: 2px;
   }

::-webkit-scrollbar-track {
	@apply bg-white
}

::-webkit-scrollbar-thumb {
	@apply bg-black/80
}
